


/*common*/



  /* header*/


.header-container {
    display: flex;
    align-items: center;
  }

  
.contacts {
      font-style: normal;
      margin-left: auto;
    }


/*region solutions*/


/*region solutions list*/
 
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}


/*region our team*/



/*region portfolio*/


/*footer*/

.page-footer {
    background-color: #2e2f42;
    display: flex;
    align-items: baseline; 
  }

.footer-container {
    flex-direction: column; 
    margin-right: 120px;
    padding: 100px 0;
    
    }

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }

.footer-logo .logo-part {
    color: #f4f4fd;    
  }
  
.footer-slogan {
   color: #f4f4fd;
   display: block;
   width: 262px;
   height: 72px;
  }

.footer-social {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
  }

.footer-container-social {
   width: 208px;
   height: 80px;
   flex-direction: column;
   margin-right: 80px;
 }

.footer-social-links {
  display: flex;
  gap: 16px;
} 

.footer-social-links-item {
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: #31d0aa;
} 

.icon-subscribe {
   margin-left: 16px; 
}


.footer-container-form-subscribe {
  flex-direction: column;
  margin-right: 80px;
  width: 453px;
  height: 80px;  
}

.sign-subscribe {
color: #fff;
font-weight: 500;
margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;  
}

.subscribe-field {
  border: 1px solid #fff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;  
}

.button-footer {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 border-radius: 4px;
 padding-block: 8px;
 padding-inline: 24px;
 line-height: 1.5;
 min-width: 165px;
 height: 40px;
 background-color: #4d5ae5;
 border: none;
 cursor: pointer;
 color:#fff;
 font-weight: 500;
 letter-spacing: 0.04em;
 transition-property: background-color;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background-color:#404bbf;
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} 

.modal {  
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 
  0 1px 1px 0 rgba(0, 0, 0, 0.14), 
  0 1px 3px 0 rgba(0, 0, 0, 0.12),
  0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; 
  position: relative;
  position: absolute;
  overflow: auto;  
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-button {
  position:absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  fill:#2e2f42;
  cursor: pointer;
  padding: 0; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  outline: none;  
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: 1px #404bbf;
  fill: #fff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill:#fff;
}

.modal-form-sign {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-weight: 400; 
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}

.text-field-wrapper {
  position: relative;
}

.text-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  outline: transparent; 
}

.text-field:focus {
  border-color: #4d5ae5;
}

.comment-textarea {
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px; 
  outline: transparent;
  line-height: 1.17; 
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.comment-textarea:focus {
  border-color: #4d5ae5;
}

.privacy-policy {
  text-decoration: underline;
  color:#4d5ae5;
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .checkbox-text>.custom-checkbox {
  background-color: #404bbf;
  fill:#f4f4fd; 
  border: none; 
}

.form-field-wrapper-policy {
  margin-top: 17px;
  margin-bottom: 24px;
}

