.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif; 
    color:#434455;
    background-color: #ffffff;
    font-weight: 400;
    margin: 0;
  }
  
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

button {
    cursor: pointer;
}

a {
    text-decoration: none;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*common*/

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
  }

@media screen and (min-width: 768px) {
 .container {
    max-width: 768px;
}   
}

@media screen and (min-width: 1158px) {
 .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

 /* header*/

.page-header {
   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header-nav-list,
.contacts {
    display: none;
}

.logo-logo {
  padding: 16px 0;
  display: block;
}

.header-logo {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
      margin-bottom: 8px;
    }
  
.header-logo .logo-part {
  color: #2e2f42;  
}

.burger-btn {
   padding: 0;
   border: none;
   background-color: transparent; 
}

.burger-icon {
   display: block;
   fill:#2f2f37; ;
}

@media screen and (min-width: 768px) {
 .burger-btn {
    display: none;
 }
.logo-logo {
  margin-right: 120px;
  padding: 24px 0;
}
.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px; 
}
.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.nav-link.current {
  position: relative;     
}
.nav-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}
.contacts-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  display: block;
}
.header-nav {
    display: flex;
    align-items: center; 
  }
}   

@media screen and (min-width: 1158px) {
 .logo-logo {
  margin-right: 76px;
}
.contacts-nav {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;  
} 
}

/*mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgba(46, 47, 66, 0.1); 
    background-color: transparent;
    display: flex; 
    justify-content: center;
    align-items: center;
    stroke-width: 1px;
    fill: #2e2f42;
    padding: 0;
    outline: none;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-nav {
  display: flex;
  flex-direction: column;  
  gap: 24px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-link:focus,
.mobile-nav-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-container-social {
  display: flex;
  gap: 40px;
} 

.mobile-social-links-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc {
  fill:#f4f4fd;
}

.mobile-social-list:hover, .mobile-social-list:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
 .mobile-menu {
    display: none;
 }
}



p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }